#img-title {
    width: 100%;
    border-radius: 8px;
}

#contain-title {
    margin-top: 7%;
}

h1 {
    font-size: 3rem;
}

#heading-one {
    font-size: 3rem;
    font-family: "Montserrat";
    font-weight: 900;
}

#heading-service {
    font-size: 3rem;
    font-family: "Montserrat";
    font-weight: 900;
    margin-left: 20rem;
}

#fluid {
    padding: 3% 15%;
}

#pexa-logo {
    font-size: 2.6rem;
}

#navbar {
    font-size: 1.4rem;
    padding: 0 0 4.5rem;
}

.nav-item:hover {
    text-decoration-color: #ecb31d;
}

#class-container {
    text-align: center;
}

#left-card {
    margin: 3px 15px;
}

#card-id {
    padding: 5px;
}

#check {
    color: #ecb31d;
    font-size: 6rem;
}

hr {
    width: 50%;
}

#btn-more:hover {
    color: #FFFFFF;
}

#row {
    padding: 3% 15%;
}

#ml-img {
    width: 45%;
    /* margin-right: 1em; */
    margin-left: 12em;
    padding-top: 100px;
}

#p-ml {
    padding-top: 3rem;
    padding: 25% 11%;
}

#p-vr {
    padding: 20% 11%;
}

#p-btc {
    padding: 25% 15%;
}

#vr-img {
    width: 50%;
    margin-left: 16rem;
    margin-bottom: 7px;
    padding-top: 60px;
}

#bc-img {
    width: 60%;
    margin-left: 12rem;
    padding-top: 11% 1%;
}

#services {
    background-color: #fff;
}


/* Media */

@media (max-width:900) {
    #title {
        text-align: center;
    }
    #img-title {
        padding-top: 7%;
    }
}